.add-list-content {
  width: 45%;
  padding: 20px;
  background: #f6f6f6;
}
.add-list-title {
  padding: 10px;
  border-bottom: 1px solid #777;
}
.add-item {
  padding: 10px;
}
.list-title {
  font-size: 3em;
  font-weight: 700;
}
.todo-label{
  font-size: 1.3em;
}
