<div class="add-list-content">
  <div class="add-list-title">
    <input type="text" #newTodoList placeholder="Add title to your list"/>
    <button (click)="addTodo(newTodoList.value); newTodoList.value=''">Add Title</button>
  </div>
  <div class="add-item">
    <input type="text" #newTodo placeholder="Add todo to your list"/>
    <button (click)="addTodo(newTodo.value); newTodo.value=''">Add Todo</button>
  </div>
</div>
<table>
  <th class="list-title">{{todo.listTitle}}</th>
  <tr *ngFor="let todo of todos">
    <td class="todo-label">{{todo.label}}</td>
  </tr>
</table>
